<%- include("partials/header") %>
    <section class="main-app">
        <header class="app-header">
            <h2 class="app-header__title">Simplify <br /> Entry</h2>
        </header>
        <div class="hero-image">
            <img src="/assets/home-screen.svg" alt="">
        </div>
        <div class="auth-buttons">
            <a class="auth-button" href="/register">Register</a>
            <a class="auth-button" href="/login">login</a>
        </div>
        <p class="footer-info">Designed And Developed By SimplifyTech.in</p>
    </section>
<%- include("partials/footer") %>