<%- include("partials/header") %>
    <section class="main-app">
        <header class="app-header">
            <h2 class="app-header__title">Simplify <br /> Entry</h2>
        </header>
        <div class="form-container">
            <form action="/auth/login" method="POST">
                <input class="form-input" type="tel" name="username" pattern="[0-9]{10}" placeholder="Mobile Number" required />
                <input class="form-input" type="password" name="password"
                placeholder="Password" required />
                <input type="submit" class="auth-button" value="Login">
            </form>
        </div>
    </section>
<%- include("partials/footer") %>